@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  padding: 10px;
  background: transparent;
  border-radius: 0 0 5px 5px;
  min-height: 100px;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #000;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}

.ProseMirror code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

p:empty::before {
  content: "";
  display: inline-block;
}

.mockup-code ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.mockup-code ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.mockup-code code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.mockup-code pre {
  background: #000;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}

.mockup-code code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}
